{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5">Запланувати відправку повідомлення</h1>
                <hr>
                <form method="post" class="needs-validation" action="/journal/add" novalidate autocomplete="off">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                            <label for="date" class="form-label">Дата</label>
                        <input type="date" name="date" class="form-control"
                               autocomplete="off" id="date" required>
                            </div>
                            <div class="col">
                                <label for="hour" class="form-label">Години</label>
                                <select class="form-select" id="hour" name="hour" required>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                  </select>
                            </div>
                            <div class="col">
                                <label for="minutes" class="form-label">Хвилини</label>
                                <select class="form-select" id="minutes" name="minutes" required>
                                    <option value="00">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                  </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Повідомлення</label>
                        <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Додати до переліку</button>
                </form>
            </div>

        </div>
    </div>
{{end}}
